@font-face {
  font-family: 'TikTo kFont' ;
  src: url('assets/TikTokFont-Regular.woff2')
  format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'TikTo kFont' ;
  src: url('assets/TikTokFont-Semibold.woff2')
  format('woff2');
  font-weight: 600;
}

body {
  margin: 0;
  font-family: 'TikTo kFont',Arial,Tahoma,PingFangSC,sans-serif,
  "Segoe UI Emoji","Noto Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}